<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head> </head>
  <body>
    <p>
      Kode OTP Anda adalah <%= otpPrefix %>-<strong><%= otp %></strong>. Harap
      input kode ini untuk login ke akun <%= appName %> Anda.
    </p>
    <p>
      Apabila tidak berhasil, harap meminta ulang untuk kode OTP baru di website
      <%= appUrl %>.
    </p>
    <br />
    <p>
      Login dilakukan dari IP: <%= ipAddress %>. Apabila Anda tidak melakukan
      ini, Anda bisa menyelidiki lebih lanjut asal usul IP tersebut.
    </p>
    <br />
    <p>Tim <%= appName %></p>
  </body>
</html>
